.DocumentPage {
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    display: grid;
    justify-items: center;
}

.DocumentPageMain {
    width: 70%;
    height: 100%;
}

.DocumentPageDoc {
    margin-top: 5%;
    ;
    width: 100%;
    height: 60%;
    min-height: 600px;
}

@media (max-width: 1200px) {
    .DocumentPageMain {
        width: 100%;
    }
}